.statusBar{
    float: left;
    width: 250px;
    background-color: #99EE6B;
}
.descDiv{
    width: 250px;
    height: 50px;
    color: white;
    line-height: 50px;
    background-color: #34CFBE;
    text-align: center;
}
.descTable{
    width: 250px;
    color: white;
    font-size: 15px;
    background-color:#6E86D6;
}
.descTable .label{
    width: 80px;
}
.descTable td{
    border: 1px solid white;
}

.tipDiv{
    margin-left: 10px;
    color: white;
}
.passInfoDiv{
    height: 50px;
    line-height: 50px;
    color: white;
    background-color: #34CFBE;
    text-align: center;
}
.statusTabel{
    background-color: #6E86D6;
    width: 250px;
    font-weight: bold;
    color: white;
    font-size: 15px;
}
.statusTabel tr{
    height: 40px;
}