.statusBar{
    float: left;
    width: 200px;
    background-color: rgba(81, 78, 216, 80%);
}
.descDiv{
    width: 200px;
    height: 50px;
    color: white;
    line-height: 50px;
    background-color: rgba(242, 61, 112, 80%);
    text-align: center;
}
.descTable{
    width: 200px;
    color: black;
    font-size: 15px;
    background-color:rgba(138, 240, 60, 80%);
}
.descTable .label{
    width: 80px;
}
.descTable td{
    border: 1px solid rgba(255, 208, 64, 80%);
}

.tipDiv{
    margin-top: 50%;
    margin-left: 10px;
    color: white;
}
.passInfoDiv{
    height: 50px;
    line-height: 50px;
    color: white;
    background-color: rgba(242, 61, 112, 80%);
    text-align: center;
}
.statusTabel{
    background-color: rgba(138, 240, 60, 80%);
    width: 200px;
    font-weight: bold;
    color: white;
    font-size: 15px;
}
.statusLable{
    height: 60px;
}